.my-container {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    /* gap: 10px; */
   
  
}
.list-item {
    display: inline-block;
    background: rgb(138, 43, 226);
    margin: 1% 2%;
    padding: 1% 1%;
    border-radius: 50px;
    color: white;
    font-size: 16px;
    border: 2px solid rgb(53, 12, 90);
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}