.my-container {
    width: 100%;
    background: white;
    
}

.item-wrapper {
    
    
}

.list-item,.price-item {
    display: inline-block;
    background: rgb(138, 43, 226);
    margin: 1% 1%;
    padding: 1% 1%;
    border-radius: 50px;
    color: white;
    font-size: 20px;
    border: 2px solid rgb(53, 12, 90);
}