.App {
  text-align: center;
}


.btn {
  margin: 50px 0 20px 0;
  /* background: rgb(149, 148, 153);
  width: 10vw;
  color: white;
  text-transform: uppercase;
  padding: 5px 5px;
  letter-spacing: 0.1rem; */
}